{% extends "frontend/wrapper.html" %}
{% block content %}
{% load static %}
<ul class="blog-zone">
    {% for recipe in page_obj %}

    <li>
        <div class="blog-icon">
            <i class="fa fa-utensils"></i>
        </div>
        <div class="blog-box">
            <img src="/media/{{ recipe.image.pathImage }}" alt="">

            <div class="blog-post-body clearfix">
                <a href="/recipe/{{ recipe.id }}">
                    <h2>{{ recipe }}</h2>
                </a>
                <div class="blog-post-tag">
                    <div class="block">
                        <i class="fa fa-clock-o"></i>
                        <p>{{ recipe.created_at|date:"d-m-Y" }}</p>
                    </div>
                    <div class="block">
                        <i class="fa fa-user"></i>
                        <p>{{ recipe.user.username }}</p>
                    </div>
                    <div class="block">
                        <i class="fa fa-tags"></i>
                        <p>
                            {% for category in recipe.categories.all %}
                            <a href="/?category={{ category.id }}">{{ category }}</a>,
                            {% endfor %}
                        </p>
                    </div>
                    <div class="block">
                        <i class="fa fa-comments"></i>
                        <p>{{ recipe.comments.count }} Комментарии</p>
                    </div>
                </div>
                <p>{{ recipe.description | truncatechars:300 }}...</p>
                <a href="/recipe/{{ recipe.id }}" class="btn btn-default btn-transparent pull-right" role="button">
                    <span>Подробнее</span>
                </a>
            </div>
        </div>	<!-- End of /.blog-box -->
    </li>

    {% endfor %}
</ul>	<!-- End of /.blog-zone -->

<!-- Pagination -->
 <ul class="pagination pull-right">
     {% if page_obj.has_previous %}
     {% if page_obj.paginator.num_pages > 2 %}
     <li><a href="?page=1">&laquo;&laquo;</a></li>
     {% endif %}
     <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
     {% endif %}
     {% for item in paginationList %}
     {% if item == page_obj.number %}
     <li class="active"><a href="?page={{ item }}">{{ item }}</a></li>
     {% else %}
     <li><a href="?page={{ item }}">{{ item }}</a></li>
     {% endif %}
     {% endfor %}
     {% if page_obj.has_next %}
     <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
     {% if page_obj.paginator.num_pages > 2 %}
     <li><a href="?page={{ page_obj.paginator.num_pages }}">&raquo;&raquo;</a></li>
     {% endif %}
     {% endif %}
     <!--<li class="disabled"><a href="#">&laquo;</a></li>
    <li class="active"><a href="#">1 <span class="sr-only"></span></a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">»</a></li>-->
</ul>	<!-- End of /.pagination -->
{% endblock %}
