{% extends "frontend/wrapper.html" %}
{% block content %}
{% load static %}
<ul class="blog-zone">
    <li>
        <div class="blog-icon">
            <i class="fa fa-utensils"></i>
        </div>
        <div class="blog-box">
            <img src="{% static 'frontend/images/blog-1.jpg' %}" alt="">

            <div class="blog-post-body clearfix">
                <a href="blog-single.html">
                    <h2>Рисовые блинчики</h2>
                </a>
                <div class="blog-post-tag">
                    <div class="block">
                        <i class="fa fa-clock-o"></i>
                        <p>12 Янв,2014</p>
                    </div>
                    <div class="block">
                        <i class="fa fa-user"></i>
                        <p>Admin</p>
                    </div>
                    <div class="block">
                        <i class="fa fa-tags"></i>
                        <p>
                            <a href="">Food Culture</a>,
                            <a href="">Green Items</a>
                        </p>
                    </div>
                    <div class="block">
                        <i class="fa fa-comments"></i>
                        <p>3 Комментарии</p>
                    </div>
                </div>
                <p>Как уже неоднократно упомянуто, реплицированные с зарубежных источников, современные исследования призывают нас к новым свершениям, которые, в свою очередь, должны быть превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. И нет сомнений, что диаграммы связей, инициированные исключительно синтетически, превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. Но консультация с широким активом не даёт нам иного выбора, кроме определения глубокомысленных рассуждений.</p>
                <a href="blog-single.html" class="btn btn-default btn-transparent pull-right" role="button">
                    <span>Подробнее</span>
                </a>
            </div>
        </div>	<!-- End of /.blog-box -->
    </li>
</ul>	<!-- End of /.blog-zone -->

<!-- Pagination -->
 <ul class="pagination pull-right">
    <li class="disabled"><a href="#">&laquo;</a></li>
    <li class="active"><a href="#">1 <span class="sr-only"></span></a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">»</a></li>
</ul>	<!-- End of /.pagination -->
{% endblock %}
