{% extends "frontend/wrapper.html" %}
{% block content %}
{% load static %}
<ul class="blog-zone">
    <li>
        <div class="blog-icon">
            <i class="fa  fa-utensils"></i>
        </div>
        <div class="blog-box">
            <img src="/media/{{ recipe.image.pathImage }}" alt="">

            <div class="blog-post-body clearfix">
                <a href="">
                    <h2>{{ recipe }}</h2>
                </a>
                <div class="blog-post-tag">
                    <div class="block">
                        <i class="fa fa-clock-o"></i>
                        <p>{{ recipe.created_at|date:"d-m-Y" }}</p>
                    </div>
                    <div class="block">
                        <i class="fa fa-user"></i>
                        <p>{{ recipe.user.username }}</p>
                    </div>
                    <div class="block">
                        <i class="fa fa-tags"></i>
                        <p>
                            {% for category in recipe.categories.all %}
                            <a href="?category={{ category.id }}">{{ category }}</a>,
                            {% endfor %}
                        </p>
                    </div>
                    <div class="block">
                        <i class="fa fa-comments"></i>
                        <p>{{ recipe.comments.count }} Комментарии</p>
                    </div>
                </div>
                <span>{{ recipe.description | safe }}</span>
            </div>
        </div>
    </li>
</ul>	<!-- End of /.blog-zone -->

{% if recipe.comments.count > 0 %}
<div class="comments-box">
    <h5>{{ recipe.comments.count }} Комментарии</h5>

    {% for comment in recipe.comments.all %}
    <div class="media">
        <div class="media-body">
            <h6 class="media-heading">{{ comment.user.username }} <span class="pull-right">{{ comment.created_at | date:"d-m-Y H:i:s" }}</span></h6>
            <p>{{ comment.data }}</p>
        </div>	<!-- End of /.meida-body -->
    </div>	<!-- End of /.media -->
    {% endfor %}

</div>	<!-- End of /.comments-box -->
{% endif %}

{% if user.is_authenticated %}
<div class="leave-comment">
    <h5>Оставить комментарий</h5>
    <form action="{% url 'backend:add_comment' recipe.id %}" method="post" class="form-horizontal" role="form">
        {% csrf_token %}
			<div class="form-group">
                <label for="id_data" class="col-sm-2 control-label">{{ form.data.label }}</label>
                <div class="col-sm-10">
				{{ form.data }}
                </div>
            </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary pull-right">Отправить</button>
            </div>
        </div>	<!-- End of /.form-group -->
    </form>	<!-- End of /.form-horizontal -->
</div>	<!-- End of /.leave comments -->
{% endif %}
{% endblock %}