{% extends "frontend/wrapper.html" %}
{% block container %}
{% load static %}
<div class="col-md-2"></div>
<div class="col-md-9 clearfix">
	<div class="form_content clearfix">
		<form enctype="multipart/form-data" action="{% url 'backend:update' recipe_id %}" method="post" id="form_recipe" class="std">
			{% csrf_token %}
			<p class="text">
				{{form.pathImage.label}}
				{{form.pathImage}}
			</p>
			<p class="text">
				{{form.title.label}}
				{{form.title}}
			</p>
			<p class="text">
				{{form.description.label}}
				{{form.description}}
			</p>
			<p class="submit" style="margin-right: 10px">
				<button class="btn btn-default btn-transparent pull-right"><span>Сохранить</span></button>
			</p>
		</form>
	</div>
</div>	<!-- End of /.col-md-9 -->
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>

<script>
	document.getElementById("form_recipe").addEventListener("submit", function(e){
        e.preventDefault();
        let form = document.forms.form_recipe
        let title = form.elements.title.value
        let description = form.elements.description.value
        var file = form.elements.pathImage.files[0];
        let token = form.elements.csrfmiddlewaretoken.value

		console.log(file)

        if (title.trim().length === 0){
            toastWarning("Заполните поле названия");
            return
        }

        if (description.trim().length === 0){
            toastWarning("Заполните поле описания");
            return
        }

        var formdata = new FormData();
        formdata.append('pathImage', file);
        formdata.append("csrfmiddlewaretoken", token);
        formdata.append('title', title);
        formdata.append('description', description);

        $.ajax({
            url: form.action, // point to server-side URL
            dataType: 'json', // what to expect back from server
            cache: false,
            contentType: false,
            processData: false,
            //data: {'data': form_data, 'csrfmiddlewaretoken': csrf_token},
            data: formdata,
            type: 'post',
            success: function (response) { // display success response
                console.log(response.responseText);

            },
            error: function (response) {
                console.log(response); // display error response
            }
        });
        /*var xhr = new XMLHttpRequest();
        //var body = 'title=' + encodeURIComponent(title) +
        //        '&description=' + encodeURIComponent(description) +
        //        '&pathImage=' + encodeURIComponent(imageF);
        var formdata = new FormData();
        formdata.append('pathImage', file);
        formdata.append("csrfmiddlewaretoken", token)
        //formdata.append('title', title);
        //formdata.append('description', description);

        xhr.open("POST", form.action, true);
        //xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.setRequestHeader('X-CSRFToken', token);
        xhr.setRequestHeader('Content-Type', 'multipart/form-data; boundary=something');

        xhr.onreadystatechange = function () {
            if(xhr.readyState === XMLHttpRequest.DONE && (xhr.status === 200 || xhr.status === 302)) {
                console.log(xhr.responseText)
                if (xhr.responseText === 'success')
                    window.location.replace('')
                else {
                    data = JSON.parse(JSON.parse(xhr.responseText));
                    Object.keys(data).forEach(function (k) {
                        Object.keys(data[k]).forEach(function (k2) {
                            toastWarning(data[k][k2]["message"]);
                        });
                    });
                }
            };
        };

        xhr.send(formdata);*/
    });
</script>
{% endblock %}
