<!doctype html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Food Code Proudly Presents By Themexpert</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700' rel='stylesheet' type='text/css'>

	<!-- Css -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nivoslider/3.2/nivo-slider.css" integrity="sha512-3qYZBBFvlamXDDKmW5p0yWWXLYKkbryU2zY1aG/XgrHTu/lzICcnkPMdameqa/x2WgTrxXHuHW6lWUTdAXjgww==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	{% load static %}
	<link rel="stylesheet" href="{% static 'frontend/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'frontend/css/responsive.css' %}">

</head>
<body>


<!-- TOP HEADER Start
    ================================================== -->

	<section id="top">
		<div class="container">
			<div class="row">
				<div class="col-md-6"></div>
				<div class="col-md-6 clearfix">
					<ul class="login-cart pull-right">
						<li>
							<a href="{% url 'index' %}" {% if request.resolver_match.url_name == 'index' and not request.GET.category %}class="active"{% endif %}>
								<i class="fa fa-home"></i>
								Главная
							</a>
						</li>
						{% if user.is_authenticated %}
						<li>
							<a href="{% url 'account' %}" {% if request.resolver_match.url_name == 'account' %}class="active"{% endif %}>
							<i class="fa fa-user"></i>
	 	 						Личный кабинет
							</a>
						</li>
						<li>
							<a href="{% url 'backend:logout' %}">
							<i class="fa fa-right-to-bracket"></i>
								Выход
							</a>
						</li>
						{% else %}
						<li>
							<a data-toggle="modal" data-target="#modalLogin" href="#">
							<i class="fa fa-right-to-bracket"></i>
								Вход
							</a>
						</li>
						<li>
							<a data-toggle="modal" data-target="#modalRegister" href="#">
							<i class="fa fa-user-plus"></i>
								Регистрация
							</a>
						</li>
						{% endif %}
					</ul>
				</div>
			</div> <!-- End Of /.row -->
		</div>	<!-- End Of /.Container -->


	<!-- MODAL Start
    	================================================== -->

		{% if not user.is_authenticated %}
		<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="modalLoginLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		    		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="modalLoginLabel">Авторизация</h4>
		      		</div>
			      	<div class="modal-body clearfix">
			      		<form action="{% url 'backend:login' %}" method="post" id="login_form" class="std">
							{% csrf_token %}
							<fieldset>
								<div class="form_content clearfix">
									<p class="text">
										<span>{{form.username}}</span>
									</p>
									<p class="text">
										<span>{{form.password}}</span>
									</p>
									<p class="submit">
										<button class="btn btn-success">Войти</button>
									</p>
								</div>
							</fieldset>
						</form>
			      	</div>
			      	<div class="modal-footer">
			        	<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
			      	</div>
		    	</div>
		  	</div>
		</div>

		<div class="modal fade" id="modalRegister" tabindex="-1" role="dialog" aria-labelledby="modalRegisterLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		    		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="modalRegisterLabel">Регистрация</h4>
		      		</div>
			      	<div class="modal-body clearfix">

						<form action="{% url 'backend:signup' %}" method="post" id="create_account_form" class="std">
							{% csrf_token %}
							<fieldset>
								<div class="form_content clearfix">
									<p class="text">
										{{regForm.username}}
									</p>
									<p class="text">
										{{regForm.email}}
									</p>
									<p class="text">
										{{regForm.password1}}
									</p>
									<p class="text">
										{{regForm.password2}}
									</p>
									<p class="submit">
										<button class="btn btn-primary">Зарегистрироваться</button>
									</p>
								</div>
							</fieldset>
						</form>
			      	</div>
			      	<div class="modal-footer">
			        	<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
			      	</div>
		    	</div>
		  	</div>
		</div>
		{% endif %}
	</section>  <!-- End of /Section -->



	<!-- LOGO Start
    ================================================== -->

	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<a href="{% url 'index' %}">
						<img src="{% static 'frontend/images/logo.png' %}" alt="logo">
					</a>
				</div>	<!-- End of /.col-md-12 -->
			</div>	<!-- End of /.row -->
		</div>	<!-- End of /.container -->
	</header> <!-- End of /Header -->


	<section id="blog">
		<div class="container">
			<div class="row">
				{% block container %}
				<div class="col-md-3 col-md-push-9">
					<div class="blog-sidebar">
						{% block sidebar %}
						<div class="block">
							<h4>Категории</h4>
							<div class="list-group">
								{% load paging %}
								{% for category in categories %}
								<a href="?category={{ category.id }}" class='list-group-item {% if request.GET.category|add:"0" == category.id %}active{% endif %}'>
									<i class="fa  fa-dot-circle-o"></i>
									{{ category }}
								</a>
								{% endfor %}
							</div>
						</div>	<!-- End of /.block -->
						<div class="block">
							<h4>Популярное</h4>
							<ul class="media-list">
								{% for post in popPosts %}
							 	<li class="media">
							    	<a class="pull-left" href="/recipe/{{ post.id }}">
							      		<img class="media-object" src="/media/{{ post.image.pathImage }}" alt="...">
							    	</a>
							    	<div class="media-body">
							      		<a href="/recipe/{{ post.id }}" class="media-heading">{{ post }}</a>
							    	  	<p>{{ post.created_at|date:"d-m-Y" }}</p>
							    	</div>
							  	</li>	<!-- End of /.media -->
							  	{% endfor %}
							</ul>	<!-- End of /.media-list -->
						</div>	<!-- End of /.block -->
						{% endblock %}
					</div>	<!-- End of /.blog-sidebar -->
				</div>	<!-- End of /.col-md-3 -->

				<div class="col-md-9 clearfix col-md-pull-3">
					{% block content %}

					{% endblock %}
				</div>	<!-- End of /.col-md-9 -->
				{% endblock %}
			</div>	<!-- End of /.row -->
		</div>	<!-- End of /.container -->
	</section>	<!-- End of /#Blog -->








<!-- FOOTER Start
    ================================================== -->

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="block clearfix">
						<a href="{% url 'index' %}">
							<img src="{% static 'frontend/images/footer-logo.png' %}" alt="">
						</a>
						<p>
							Здесь Вы можете делиться рецептами
						</p>
						<h4 class="connect-heading">Присоединяйтесь к нам</h4>
						<ul class="social-icon">
							<li>
								<a class="facebook-icon" href="#">
									<i class="fa fa-facebook"></i>
								</a>
							</li>
							<li>
								<a class="twitter-icon" href="#">
									<i class="fa fa-twitter"></i>
								</a>
							</li>
							<li>
								<a class="pinterest-icon" href="#">
									<i class="fa fa-pinterest"></i>
								</a>
							</li>
						</ul>	<!-- End Of /.social-icon -->
					</div>	<!-- End Of /.block -->
				</div> <!-- End Of /.Col-md-4 -->
				<div class="col-md-4">
				</div> <!-- End Of Col-md-4 -->
				<div class="col-md-4">
				</div> <!-- End Of Col-md-4 -->
			</div> <!-- End Of /.row -->
		</div> <!-- End Of /.Container -->



	<!-- FOOTER-BOTTOM Start
    ================================================== -->

		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<p class="copyright-text pull-right">Food Code @2013 Designed by <a href="http://www.themexpert.com">Themexpert</a> Все права защищены</p>
					</div>	<!-- End Of /.col-md-12 -->
				</div>	<!-- End Of /.row -->
			</div>	<!-- End Of /.container -->
		</div>	<!-- End Of /.footer-bottom -->
	</footer> <!-- End Of Footer -->

	<a id="back-top" href="#"></a>

    <!-- jS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js" integrity="sha512-jGR1T3dQerLCSm/IGEGbndPwzszJBlKQ5Br9vuB0Pw2iyxOy+7AK+lJcCC8eaXyz/9du+bkCy4HXxByhxkHf+w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nivoslider/3.2/jquery.nivo.slider.min.js" integrity="sha512-rwjQKesPaeXWoFNcTVz8rPBqsU06+JhcsudIQfpUiOhxGHqymn9aSJpG7NPu4MZJ7V32Cq4YjT1qV5vVngYA1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js" integrity="sha512-zMfrMAZYAlNClPKjN+JMuslK/B6sPM09BGvrWlW+cymmPmsUT1xJF3P4kxI3lOh9zypakSgWaTpY6vDJY/3Dig==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/scrollup/2.2.0/jquery.scrollUp.min.js" integrity="sha512-2+pgrvOTcp+zHiLfZFyuqWu0BXzNBGMesjZnznKaXu3PVgUXUpcjTj/Ex8j3S4rl45eIBK3KP56jgowLMh6nKw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="{% static 'frontend/js/main.js' %}" type="text/javascript"></script>
	<script src="{% static 'frontend/js/toast.js' %}" type="text/javascript"></script>
	<script src="https://kit.fontawesome.com/ddf986bc5c.js" crossorigin="anonymous"></script>

	{% block scripts %}
	{% endblock %}

{% if not user.is_authenticated %}
<script>
	document.getElementById("login_form").addEventListener("submit", function(e){
		e.preventDefault();
		let form = document.forms.login_form
		let username = form.elements.username.value
		let password = form.elements.password.value
		let token = form.elements.csrfmiddlewaretoken.value

		if (username.trim().length === 0){
			toastWarning("Заполните поле логина");
			return
		}

		var xhr = new XMLHttpRequest();
		var body = 'username=' + encodeURIComponent(username) +
		  '&password=' + encodeURIComponent(password) +
		  '&csrfmiddlewaretoken=' + encodeURIComponent(token);

		xhr.open("POST", form.action, true);
		xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

		xhr.onreadystatechange = function () {
			if(xhr.readyState === XMLHttpRequest.DONE && (xhr.status === 200 || xhr.status === 302)) {
				if (xhr.responseText === 'success')
					window.location.replace('')
				else {
					data = JSON.parse(JSON.parse(xhr.responseText));
					Object.keys(data).forEach(function (k) {
						Object.keys(data[k]).forEach(function (k2) {
							toastWarning(data[k][k2]["message"]);
						});
					});
				}
			};
		};

		xhr.send(body);
	});

	document.getElementById("create_account_form").addEventListener("submit", function(e){
		e.preventDefault();
		let form = document.forms.create_account_form
		let username = form.elements.username.value
		let email = form.elements.email.value
		let password1 = form.elements.password1.value
		let password2 = form.elements.password2.value
		let token = form.elements.csrfmiddlewaretoken.value

		if (username.trim().length === 0){
			toastWarning("Заполните поле логина");
			return
		}

		if(!ValidateEmail(email)) {
			toastWarning("Введите правильный адрес электронной почты");
			return
		}

		var xhr = new XMLHttpRequest();
		var body = 'username=' + encodeURIComponent(username) +
				'&email=' + encodeURIComponent(email) +
				'&password1=' + encodeURIComponent(password1) +
				'&password2=' + encodeURIComponent(password2) +
				'&csrfmiddlewaretoken=' + encodeURIComponent(token);

		xhr.open("POST", form.action, true);
		xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

		xhr.onreadystatechange = function () {
			if(xhr.readyState === XMLHttpRequest.DONE && (xhr.status === 200 || xhr.status === 302)) {
				if (xhr.responseText === 'success')
					window.location.replace('')
				else {
					data = JSON.parse(JSON.parse(xhr.responseText));
					Object.keys(data).forEach(function (k) {
						Object.keys(data[k]).forEach(function (k2) {
							toastWarning(data[k][k2]["message"]);
						});
					});
				}
			};
		};

		xhr.send(body);
	});
</script>
{% endif %}

</body>
</html>